@charset "utf-8";

/*
	共通設定。ヘッダ、フッタ、メニューなど
	pc, スマホを区別する場合は、#pc, #mobile を使うか、@media only screen and (min-width: 700px)にオーバーライドする
*/

body {
	background: #000000 url(../img/back01.jpg);
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	line-height: 1.5;
	color: #ffffff;
	font-size: 12pt;
	-webkit-text-size-adjust: none;
	text-align:	center;
	zoom:1;
	position:relative;
	z-index:1;
}

/* always box-sizing */
div {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}


.left   { text-align: left;}
.center { text-align: center;}
.right  { text-align: right;}



#pc #container {
	width:960px;
	background: transparent url(../img/tail.png);
	display: inline-block;
	margin: 0 auto;
	padding:120px 0 0 0;
	position: relative;
	zoom:1;
	z-index:0;
}

#mobile #container {
/*	width:320px;*/
	width: 100%;		/* リンクを座標で指定してあるとずれるのでNG */
	overflow:hidden;
	background: #000000 url(../img/tail.png);
	display: inline-block;
	margin: 0 auto;
	padding: 0;
	position: relative;
}

#mobile #footer img {
	width: 100%;
}


a.hover:hover{background-position: 0 bottom !important}

/* メニュー */
/* PC用メニュー */
#pc #menu{width: 100%;position:fixed;top:0;left:0;z-index: 9999;font-size:0;}
#pc #menu .back{position:relative;height:120px;width:960px;display:inline-block;margin:0 auto;background: rgba(0,0,0,0.75);}
#pc #menu .replica  {position:absolute;top:0px;left:0px;}
#pc #menu .subtitle {position:absolute;top:0px;right:0px;}
#pc #menu .back .item{position:absolute;top:50px;left :0px;}
#pc #menu .menu_d   {position:absolute;top:100px;left:0px;}


/* スマホ用メニュー */
#mobile #menu img { width: 100%; }
#mobile #menu ul {display:none;text-align:center;}
#mobile #menu ul li {text-align:center;line-height:0;margin-top: 4px;}



/* メニューボタン */
.menuItem {
	display: inline-block;
	height: 3em;
	margin: 4px;
}

/* Smart Phone */
@media only screen and (max-width: 700px) {
	/* スマホ用に別に用意した画像 */
	.img640 {
		width: 100%;
	}
}
